<div id="${id}" class="ideo-cto-main #if(${styleClass})${styleClass}#end" #if(${style})style="${style}"#end>
<table id="${id}_table">
<tr>
    <td>
    	<div style="width:100%" align="right">
        <a href="#" id="closeLinkCTO${id}" class="ideo-cto-closeIcon" title="${i18n.close}" align="right" onclick="SweetDevRia.$('${id}').close();return false;"></a>
        </div>
        <div style="#if(${width}>0)width:${width}px;#end #if(${height}>0)height:${height}px;#end" class="ideo-cto-content">
