
<script type="text/javascript">
	new SweetDevRia.CollapseManager ("${id}");
	SweetDevRia.$("${id}").collapseIds = [#foreach ($collapseId in ${collapseIds})#if ($velocityCount>0),#end "${collapseId}"#end];
</script>

