</div>
<script type="text/javascript">
	new SweetDevRia.Collapse ("${id}");
	SweetDevRia.$("${id}").isCollapse = ${collapse};
	#if (${header})SweetDevRia.$("${id}").header="${header}";#end
	SweetDevRia.$("${id}").render ();
</script>