	</div>
<script type="text/javascript">
	#if (${frameDisplayed})
		SweetDevRia.$("${id}").createFrame();
		SweetDevRia.$("${id}").getFrame().contentId = "${id}_itemContainer";
		SweetDevRia.$("${id}").getFrame().resizeMode = SweetDevRia.Frame.RESIZE_MODE_NONE;
		SweetDevRia.$("${id}").getFrame().borderMode = SweetDevRia.Frame.BORDER_MODE_ALL;
		SweetDevRia.$("${id}").getFrame().canDrag = false;
		SweetDevRia.$("${id}").getFrame().showBorderOnOver = false;
	#else
		SweetDevRia.$("${id}").createFrame = function(){
		    return new SweetDevRia.FrameNude("${id}_nude_frame");
		};
		
		SweetDevRia.$("${id}").getFrame = function(){
		    return new SweetDevRia.FrameNude("${id}_nude_frame");
		};
		
		SweetDevRia.$("${id}").createFrame();
	#end
	
</script>
</div>